@import "tailwindcss";
@config "../../tailwind.config.mjs";

html {
  overflow-y: auto;
  color-scheme: light;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-neutral-100;
  @apply text-black/75;
}

header {
  @apply sticky top-0 z-50 py-6;
  @apply bg-neutral-100/75;
  @apply saturate-200 backdrop-blur-xs;
}

main {
  @apply flex-1;
}

footer {
  @apply py-6 text-sm;
}

article {
  @apply prose prose-neutral prose-img:mx-auto prose-img:my-auto max-w-full;
  @apply prose-headings:font-semibold;
  @apply prose-headings:text-black;
}

h1::before {
  content: "# ";
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

h4::before {
  content: "#### ";
}

h5::before {
  content: "##### ";
}

h6::before {
  content: "###### ";
}

article a {
  @apply text-[#0069C2];
}
article a:visited {
  @apply text-[#551A8B];
}

code,
pre {
  font-variant-ligatures: none;
}
