code, pre {
  font-size: 85%;
  font-family: 'JetBrains Mono',SFMono-Regular,Consolas,'Roboto Mono','Liberation Mono',Menlo,monospace;
}

code {
  padding: .2em .4em;
  font-size: 85%;
  border-radius: 6px;
  color: #42464c;
  background-color: #f5f7fa;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 100%;
  line-height: 1.45;
  border-radius: 6px;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 12px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    line-height: normal;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}