---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Tag from "@components/Tag.astro";
import { getCollection } from "astro:content";
import { getTagDefinitions } from "@lib/taxonomy";

export const prerender = true;

const tagDefinitions = await getTagDefinitions();
const posts = (await getCollection("posts")).filter((post) => !post.data.draft);
const tagCounts = Object.fromEntries(
  tagDefinitions.map((tag) => [tag.id, 0]),
) as Record<string, number>;

for (const { data } of posts) {
  for (const tag of data.tags) {
    tagCounts[tag] = (tagCounts[tag] ?? 0) + 1;
  }
}

const tags = tagDefinitions.map((tag) => ({
  slug: tag.id,
  count: tagCounts[tag.id] ?? 0,
}));

const meta = {
  description: "A list of all tags",
  title: "Tags",
};
---

<Layout {...meta}>
  <Container>
    <div class="mt-10" data-pagefind-ignore="all">
      <div class="space-y-4">
        <section class="space-y-4">
          <ul
            class="grid list-none grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4"
          >
            {
              tags.map((tag) => (
                <li>
                  <Tag tag={tag.slug} count={tag.count} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </div>
  </Container>
</Layout>
