---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { SITE } from "@consts";
import { getAllPosts } from "@lib/utils";

const posts = await getAllPosts(true);
---

<Layout title={SITE.TITLE} description={SITE.DESCRIPTION}>
	<Container>
		<div class="space-y-10" data-pagefind-ignore="all">
			<div class="space-y-4">
				<section class="space-y-4">
					<ul class="not-prose flex flex-col gap-4">
						{
							posts.map((post) => (
								<li>
									<ArrowCard entry={post} />
								</li>
							))
						}
					</ul>
				</section>
			</div>
		</div>
	</Container>
</Layout>
