---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
import "@pagefind/default-ui/css/ui.css";

const meta = {
	description: "Search for blog.736b.moe",
	title: "Search",
};
---

<Layout title={meta.title} description={meta.description}>
	<Container>
		<div id="search" class="search-container" transition:persist></div>
	</Container>
</Layout>

<script>
	const initSearch = async () => {
		const container = document.querySelector("#search") as HTMLElement;

		if (!container || container.dataset.pagefindReady) return;

		container.dataset.pagefindReady = "true";
		const { PagefindUI } = await import("@pagefind/default-ui");
		new PagefindUI({ element: "#search", showSubResults: true });
	};

	document.addEventListener("astro:page-load", initSearch);
	if (document.readyState === "loading") {
		document.addEventListener("DOMContentLoaded", initSearch);
	} else {
		initSearch();
	}
</script>

<style>
	.search-container {
		margin-top: 2rem;
	}

	:root {
		--pagefind-ui-scale: 0.75;
		--pagefind-ui-border-width: 1px;
		--pagefind-ui-border-radius: 2px;
	}
</style>
