---
import { CATEGORIES } from "@/constants";

type Category = (typeof CATEGORIES)[number];

type Props = {
	category: Category;
	count?: number;
};

const { category, count } = Astro.props;
---

<a
	href={`/categories/${category}`}
	class="rounded-lg border border-black/15 px-2 py-0.5 font-mono text-xs hover:bg-gray-200"
	aria-label={`category: ${category}`}
>
	{category}{count !== undefined && ` (${count})`}
</a>
