---
import Container from "@components/Container.astro";
import EntryCard from "@components/EntryCard.astro";
import type { CollectionEntry, CollectionKey } from "astro:content";

interface Props {
	entries: CollectionEntry<CollectionKey>[];
}

const { entries } = Astro.props;
---

<Container>
	<div class="mt-10" data-pagefind-ignore="all">
		<ul class="not-prose flex flex-col gap-2">
			{
				entries.map((entry) => (
					<li>
						<EntryCard entry={entry} />
					</li>
				))
			}
		</ul>
	</div>
</Container>
