---
import Container from "@components/Container.astro";
---

<footer>
  <Container>
    <div class="flex items-center justify-between">
      <div class="text-xs italic">
        Copyright &copy; {new Date().getFullYear()} @shiomiyan
      </div>
    </div>
  </Container>
</footer>
