---
import Container from "@components/Container.astro";
import { SITE, SOCIALS } from "@constants";

import TwitterIcon from "../assets/icons/twitter.svg";
import GitHubIcon from "../assets/icons/github.svg";
import MastodonIcon from "../assets/icons/mastodon.svg";
import BlueskyIcon from "../assets/icons/bluesky.svg";
import TagsIcon from "../assets/icons/tags.svg";
import RssIcon from "../assets/icons/rss.svg";
import SearchIcon from "../assets/icons/search.svg";

const SVGComponents: Record<string, any> = {
	twitter: TwitterIcon,
	github: GitHubIcon,
	mastodon: MastodonIcon,
	bluesky: BlueskyIcon,
};
---

<header transition:persist>
	<Container>
		<div class="flex flex-wrap justify-between gap-y-2">
			<a href="/" class="font-semibold">
				{SITE.TITLE}
			</a>
			<nav class="flex items-center gap-2">
				{
					SOCIALS.map((SOCIAL) => {
						const SVGComponent = SVGComponents[SOCIAL.SVG_NAME];
						return (
							<a
								href={SOCIAL.HREF}
								aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
								target="_blank"
								rel="noopener noreferer"
								class="p-1"
							>
								<SVGComponent width={22} height={22} />
							</a>
						);
					})
				}
				<a href="/tags" aria-label="All tags on this site" class="p-1">
					<TagsIcon width={22} height={22} />
				</a>

				<a href="/search" aria-label="Search for blog.736b.moe" class="p-1">
					<SearchIcon width={22} height={22} />
				</a>

				<a href="/rss.xml" aria-label="RSS feed for blog.736b.moe" class="p-1">
					<RssIcon width={22} height={22} />
				</a>
			</nav>
		</div>
	</Container>
</header>
