---
import Container from "@components/Container.astro";
import { SITE } from "@constants";
---

<header transition:persist>
	<Container>
		<div class="flex flex-wrap justify-between gap-y-2">
			<a href="/" class="font-semibold">
				{SITE.TITLE}
			</a>
			<nav class="flex items-center gap-3">
				<a
					href="/about"
					aria-label="About author"
					class="underline decoration-dotted">About</a
				>

				<a
					href="/tags"
					aria-label="All tags on this site"
					class="underline decoration-dotted"
				>
					Tags
				</a>

				<a
					href="/search"
					aria-label="Search for blog.736b.moe"
					class="underline decoration-dotted"
				>
					Search
				</a>

				<a
					href="/rss.xml"
					aria-label="RSS feed for blog.736b.moe"
					class="underline decoration-dotted"
				>
					Feed
				</a>
			</nav>
		</div>
	</Container>
</header>
