---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

const { headings } = Astro.props;

export interface Heading {
  depth: number;
  slug: string;
  text: string;
}

// https://kld.dev/building-table-of-contents/
const buildToc = (headings: Heading[]): Heading[] => {
  const toc: Heading[] = [];
  const parentHeadings = new Map<
    number,
    Heading & { subheadings: Heading[] }
  >();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1)?.subheadings.push(heading);
    }
  });
  return toc;
};

const toc = buildToc(headings);
---

<details class="ui-panel">
  <summary class="ui-panel-summary">目次</summary>
  <nav>
    <ul class="py-3">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</details>
